.clearfix{
    margin-bottom: 65px;
}
.prioridades{
    font-size: 13px;
}
.radio{
    margin-top: 0 !important;
}
.alert.alert-warning{
    margin-bottom: 25px;
}
.alert.alert-success{
    margin-top: 25px;
}